{% extends "index.html" %}
{% block title %}Account{% endblock title%}
{% block css %} 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/account.css') }}">
{% endblock css %}
{% block content%}
<div id="ac" class="shadow-lg p-3 mb-5 bg-body rounded mt-5">
    <div class="mb-3">
        <p class="h4">Username: {{username}}</p>
    </div>
    <div class="d-flex justify-content-evenly flex-wrap mb-3">
        <a href="/pin" class="mt-3 d-inline-flex">
            <button type="button" class="btn btn-outline-success btn-lg">{{set}} PIN</button>
        </a>
        {% if auth == "available"%}
        <a href="/auth" class="mt-3 d-inline-flex">
            <button type="button" class="btn btn-outline-success btn-lg">HKID Authenticate</button>
        </a>
        {% else %}
        <button type="button" class="mt-3 d-inline-flex btn btn-outline-secondary btn-lg" disabled>HKID Authenticate</button>
        {% endif %}
        <a href="/logout" class="mt-3 d-inline-flex">
                <button type="button" class="btn btn-success btn-lg mr-3">Logout</button>
        </a>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}<div class="alert alert-{{category}}" role="alert" style="text-align: center;">{{message}}</div>{% endfor %}
        {% endif %}
    {% endwith %}

</div>
{% endblock content%}
