{% extends "index.html" %}
{% block title %}QR Code{% endblock title%}
{% block scripts%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='scripts/formValidation.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/jsbn.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/prng4.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/rng.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/rsa.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/rsaEncryption.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/qrcode.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/sha256.js') }}"></script>
{% endblock scripts%}

{% block content%}
<div id="main">
    <input type="hidden" value="{{ coupon_left }}" id="coupon">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category,message in messages %}
    <div class="alert alert-{{category}} mt-3 mx-auto" role="alert" style="text-align: center; width: 70%;">
        {{message}}
    </div>
    {% endfor %}

    {% else %}
    <div class="field mt-3" id="coupon-qrcode"></div>
        <input type="hidden" id="csrf_token" value="{{ csrf_token() }}"/>

        <textarea onclick="ClipBoard()" readonly class="mt-3 mx-auto border border-success text-dark" id="hidden-token" style="width:50%"></textarea>
        <h3 class="field">Please use the voucher within 1 minute</h3>
        <h3 class="field">Coupon ID: {{coupon_id}}</h3>
        <h3 class="field">You have {{coupon_left}} voucher left</h3>
        <h3 class="field">Username: {{username}}</h3>
        <script>

            window.onload = function () {
                let pin_code = prompt("Please enter pin_code");
                if(pin_code==null) location.href = "/account"
                $.ajax({
                    url: "/ajax_coupon",
                    method: "POST",
                    data: {
                        pin_code: rsaEncryt(sha256(pin_code)),
                        coupon_id: {{coupon_id}},
                        csrf_token: document.getElementById("csrf_token").value
                    },
                    success: function (res) {
                        new QRCode(document.getElementById("coupon-qrcode"), res);
                        document.getElementById("hidden-token").innerText = res
                        setTimeout(function () {
                            alert("coupon expired");
                            location.href = "/account";
                        }, 60000)
                        startCheck();
                    },
                    error:function (err) {
                        alert("Wrong PIN code");
                        location.href = "/account";
                    }
                })

            }
            function startCheck(){
                var intervalID = setInterval(function() {
                    $.ajax({
                    url: "/checkRedeemed",
                    method: "POST",
                    data: {
                        coupon_left: document.getElementById("coupon").value,
                        coupon_id: {{coupon_id}},
                        csrf_token: document.getElementById("csrf_token").value
                    },
                    success: function (res) {
                        clearInterval(intervalID);
                        alert("Coupon redeemed")
                        location.href = "/transaction";
                    },
                    error:function (err) {
                    }
                    })
                }, 2000);
            }
        </script>
        <SCRIPT LANGUAGE="JavaScript">

            function ClipBoard()
            {
                    /* Get the text field */
                    var copyText = document.getElementById("hidden-token");

                    /* Select the text field */
                    copyText.select();
                    copyText.setSelectionRange(0, 99999); /* For mobile devices */

                    /* Copy the text inside the text field */
                    document.execCommand("copy");

            }
            
        </SCRIPT>
        {% endif %}
        {% endwith %}


    </div>
    {% endblock content%}
